body{
    font-family: Poppins;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
/*CONT PRINCIPAL STYLE*/
.principal{
    display: flex;
    justify-content: center; 
    height: 100%;
}

/*TARGET STYLE*/
.target{
    text-align: center; 
    margin-top: 50%;
}
.target__img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #CADF5D;
}
.target__text{
    font-variant: small-caps;
    color: #ECEDEE;
}
.target__text p{
    margin-top: -25px;
}
/*NAV STYLE*/
.navbar{
    background-color: #181818;
    min-width: 400px;
    max-width: 400px;
}
.nav{
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-bottom: 50%;
}
.nav_list{
    list-style: none;
}
.nav_item{
    margin-top: 20px;
    background-color: #323232;
    width: 200px;
    padding: 10px;
    border-radius: 0.5rem;
    text-align: center;
}
.nav_item a {
    text-decoration: none;
    font-variant: small-caps;
    color: #ECEDEE;
}
/*MAIN STYLE*/
.main{
    background-color: #101010;
}
/*SECTION STYLES*/
.section_start, .section_for-my, .section_formacion, .section_portafolio{
    margin-left: 60px;
    align-items: center;
    margin-top: 25%;
}
.section_start h1,h2{
    color: #ECEDEE;
}
.section_for-my h1{
    font-size: 3rem;
}
.section_start p, .section_for-my p, .section_for-my h1{
    color: #ECEDEE;
    margin-bottom: 25px;
}
.section_start span, .section_for-my span, .section_formacion span{
    color: #CAE259;
}
.section_start button{
    background-color: #323232;
    color: #ECEDEE;
    border: none;
    border-radius: 1rem;
    width: 120px;
    font-size: 0.90rem;
    padding-top: 3px;
    padding-bottom: 3px;
}
.section_start i{
    font-size: 1.25rem;
    color: #CAE259;
    margin-left: 5px;
}
/*SECTION FOR MY*/
.container{
    display: flex;
    justify-content: center;
}
.container__info{
    width: 400px;
}
.container__info p{
    margin-bottom:-10px ;
}
.container__info button{
    background-color: #323232;
    color: #ECEDEE;
    border: none;
    border-radius: 1rem;
    width: 220px;
    font-size: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}
.container__info i{
    color: #CAE259;
}
.container__experiencia{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.cont_exp{
    background-color:#222222 ;
    width: 200px;
    margin-top: 30px;
    text-align: center;
}
.cont_exp p, .cont_exp span{
    font-variant: small-caps;
    font-size: 1.8rem;
    margin-bottom: -5px;
}
.cont_exp p{
    color: #ECEDEE;
}
.cont_exp span{
    color: #CAE259;
}
/*SECTION FORMACION*/
.section_formacion h1{
    color:#ECEDEE ;
    font-size: 3.5rem;
}
.section_formacion span{
    color: #CAE259;
    font-size: 3.5rem;
}
.cont_courses{
    display: flex;
    justify-content:center ;
    gap: 20px;
    flex-wrap: wrap;
}
.cont_course{
    display: flex;
    gap: 10px;
    width: 600px;
}
.cont_logo i{
    background-color: #CAE259;
    padding: 15px;
    border-radius: 50%;
}
.title{
    color: #CAE259;
    font-variant: small-caps;
    font-size: 3rem;
    margin-top: -5px;
    margin-bottom: -5px;
}
.year{
    background-color: #323232;
    color: #ECEDEE;
    width: 150px;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-left: 10%;
}
.text{
    color: #ECEDEE;
}
/*SECTION FORMACION*/
.section_portafolio h1{
    color:#ECEDEE ;
    font-size: 3.5rem;
}
.section_portafolio span{
    color: #CAE259;
    font-size: 3.5rem;
}
.cont_images{
    display: flex;
    justify-content:center ;
    gap: 30px;
    flex-wrap: wrap;
}
.image img{
    width: 550px;
}